.emptyCell
{
    border: 5px outset red;
    background-color: black;
    text-align: center;
    z-index: 1;
    height: 100px;
    width: 100px;

}

.picture
{
    height: 100px;
    width: 100px;
}
